.offer-background {
  background-image: url('../../../images/export-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 360px;
  height: 290px;
  left: 280px;
  top: 85px;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 40px 30px 40px;
}

.offer-header {
  font-family: 'Bellota Text';
  font-size: 48px;
  color: #222222;
  margin-bottom: 12px;

  &__home {
    font-size: 32px;
  }
}

.offer-text {
  font-size: 20px;
  color: #222222;
  margin-bottom: 50px;
}
