.welcome-background {
  background-image: linear-gradient(359.44deg, #FFFFFF 0.5%, rgba(236, 236, 224, 0) 28.4%), url('../../images/header-background.jpg');
  height: 533px;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 120px;
  border: none;
  scroll-margin-top: 80px;

  @media screen and (max-width: 840px) {
    height: 420px;
    margin-bottom: 50px;
  }

  @media screen and (max-width: 500px) {
    background-image: linear-gradient(359.44deg, #FFFFFF 0.5%, rgba(236, 236, 224, 0) 28.4%), url('../../images/header-background-mobile.jpg');
    height: 650px;
  }
}