@import '../../styles/vars.scss';

.container {
  display: flex;
  justify-content: center;
}

.advantages-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.advantages-block {
  display: flex;
  gap: 10px;
  align-items: center;
}

.advantages-header {
  font-size: 18px;
  line-height: 27px;
  color: $static-black;
  font-weight: 600;
  font-family: 'Raleway';
}
.advantages-text {
  font-size: 14px;
  line-height: 21px;
  color: #858585;
  font-family: 'Raleway';
}

.advantages-image {
  height: 40px;
  width: 40px;
}
