@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.delivery{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  scroll-margin-top: 90px;
}

.delivery-header {
  @include header;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.delivery-container{
  display: flex;
  justify-content: space-between;
  width: 880px;
}

.delivery-name{
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  text-align: center;
  margin-top: 40px;
}

#delivery-name{
  white-space: nowrap;
  margin-left: -24px;
}

#delivery-text{
  white-space: nowrap;
}

.delivery-block{
  width: 240px;
  position: relative;
}

.delivery-image {
  border-radius: 12px;
}

.delivery-text{
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 150%;
  color: #858585;
  text-align: center;
}

.delivery-number{
  position: absolute;
  top: 240px;
  left: 90px;
}

.return-container{
  padding: 20px 40px 28px;
  width: 880px;
  background-color: $background-grey;
  border-radius: 15px;
  margin-top: 26px;
}

.return-name{
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.return-text{
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 150%;
}
