.search {
  width: 270px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid transparent;
  padding-left: 40px;
  padding-right: 11px;

  &:focus {
    border: 1px solid #D4D4D4;
    outline: none;
  }
}

.search-container {
  position: relative;
}

.icon {
  position: absolute;
  left: 11px;
  top: 11px;
  
}