@mixin header {
  font-family: 'Raleway';
  font-size: 25px;
  font-weight: 700;
  color: #454747;

  @media screen and (max-width: 950px) {
    font-size: 20px;
  }

  @media screen and (max-width: 500px) {
    font-size: 14px;
    font-weight: 600;
  }
}
