@import '../../styles/mixins.scss';
@import '../../styles/vars.scss';

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 210px;
  scroll-margin-top: 90px;
}

.about-block {
  background-color: $background-grey;
  width: 900px;
  display: flex;
  padding: 20px;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 15px;
}

.about-header {
  @include header;
  display: flex;
  justify-content: center;
  margin-bottom: 21px;
}

.about-image {
  padding-right: 20px;
}

.about-name {
  font-family: 'Raleway';
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
  margin-bottom: 10px;
}

.about-text {
  font-family: 'Raleway';
  font-size: 14px;
  line-height: 150%;
}

.about-image-small {
  margin-top: 140px;
}
