body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #e8e8e8; */
  color: #454747;
}

p {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
}

div {
  box-sizing: border-box;
}
