@import '../../styles/mixins.scss';

.new-container {
  margin-left: 65px;
  margin-right: 65px;
}

.new-header {
  @include header;
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.relative-container {
  position: relative;
  margin: 0 auto;
  max-width: 1400px;
}

.margin-container {
  margin-left: 65px;
  margin-right: 65px;
  scroll-margin-top: 90px;
}
